[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "consensusSeekeR"]
	path = consensusSeekeR
	url = https://github.com/arnauddroitlab/consensusseeker
	shallow = true
	registered = true
[submodule "metagene2"]
	path = metagene2
	url = https://github.com/arnauddroitlab/metagene2
	shallow = true
	registered = true
