[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RJMCMCNucleosomes"]
	path = RJMCMCNucleosomes
	url = https://github.com/arnauddroitlab/rjmcmcnucleosomes
[submodule "metagene2"]
	path = metagene2
	url = https://github.com/arnauddroitlab/metagene2
[submodule "nucleoSim"]
	path = nucleoSim
	url = https://github.com/arnauddroitlab/nucleosim
